body{
    margin: 0;
}
header{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ccc;
}
.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    
}
.slider{
    flex: 1;
    overflow: hidden; /* cortar o que passar da medida */

}
.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;

}
.slider--item{
    width: 100vw; /*pega a largura total do monitor */
    height: inherit; /*herda a altura do ultumo item */
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain; /*dependendo do tamanho do monitor, vai dimiuir ou aumentar */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;

}
.slider--controls{
    position: absolute; /*vai ficar em cima das outras, tipo, emcima das outras camadas */
    z-index: 99; /*a cima da foto */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.slider--control{
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* background-color: #fff;
    border-radius: 50%; */
    color:#fff;
    overflow: hidden; /*para resolver problemas do texto ultrapassar */

}

nav ul,
nav li{
    display:flex;
    padding: 10px;
    text-transform: uppercase;
}

.menu li a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    border-bottom: 1px solid #cad49d;
}
.menu-opener{
    display: none;
}

section h1{
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: baseline;
}
.section--item{
    width:300px;
    height: 180px; /*pega a largura total do monitor */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; /*dependendo do tamanho do monitor, vai dimiuir ou aumentar */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: #ccc;
    cursor: pointer;

}

/*responsividade*/
@media (max-width:600px){



  
    .sub-card img {
        width: 100%;
        height: auto;
    }

    .menu-opener{
        display: block;
        width:45px;
        margin-right: 20px;
        
    }

    .sub-card-photoinfo{
        position: absolute;
        background-color: rgba(72,69,56, 0.9);
        width:95%;
        height:35%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-transform:uppercase;
       
        
    }
    .logo img{
        width:110px;
       
       
    }

   
    .menu nav ul {
        
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(72,69,56, 0.9);
        width: 80vw;
        height: calc(100vh);
        right: 0;
    }
    
    .menu ul{

        flex-direction: column;
    }

    .boas-vindas h4{
        font-size: 12px;
        text-align: justify;
        padding-right: 5px;
        padding-left: 5px;
        
    }

    .boas-vindas h3{
        font-size: 16px;
        text-align: justify;
        padding-right: 5px;
        padding-left: 5px;
        text-transform:uppercase;
        
        
    }

    .card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      
    }
   
    .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer{
        height:50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer, .footer-icones{
        font-size: 12px;
       
    }

    .footer a{
        color:#fff;
    }

    .footer, .fa-solid, .fa-brands{
        font-size:20px;
    }

}